.preloader {
  @extend %cover;
  @extend %center;

  // display: none;
  // visibility: hidden;

  background-color: rgb(207, 195, 195);
  color: black;
  text-align: center;
  z-index: z('preloader');
}

.canvas {
  @extend %cover;
  @extend %center;
  z-index: z('canvas');
}

.preloader__animation {

}

.preloader__animation__wrapper {
  overflow: hidden;
}

.preloader__animation__icon {
  height: 7rem;
  width: 15rem;
}

.preloader__indicator {
  bottom: 10rem;
  left: 50%;
  position: absolute;
  transform: translateX(-50%);
}

.preloader__indicator__number {
  position: absolute;
  left: 50%;
  overflow: hidden;
  transform: translateX(-50%);
}

.preloader__indicator__number__text {
  display: inline-block;
}

.preloader__indicator__link {
  @extend %button--hidden;

  opacity: 0;
  visibility: hidden;
}

.preloader__indicator__link__text {
  @extend %title-22;

  display: inline-block;
}