%cover {
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

%center {
  align-items: center;
  display: flex;
  justify-content: center;
}

@mixin ratio ($height, $width) {
  font-size: 0;
  overflow: hidden;
  position: relative;

  &:after {
    content: '';
    display: inline-block;
    padding-top: $width / $height * 100%;
    width: 100%;
  }
}

%image-sm {
  height: 10rem;
  width: 20rem;
}

%image-md {
  height: 20rem;
  width: 40rem;
}

%image-lg {
  height: 30rem;
  width: 60rem
}

%col-1 {
  width: 8.3333%;
}

%col-2 {
  width: 16.6666%;
}

%col-3 {
  width: 25%;
}

%col-4 {
  width: 33.3333%;
}

%col-5 {
  width: 41.6666%;
}

%col-6 {
  width: 50%;
}

%col-7 {
  width: 58.3333%;
}

%col-8 {
  width: 66.6666%;
}

%col-10 {
  width: 83.3333%;
}

%col-12 {
  width: 100%;
}


