@font-face {
  font-family: $font-archia;
  src: url('../fonts/archia-regular-webfont.woff2') format('woff2'),
      url('../fonts/archia-regular-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-archia;
  src: url('../fonts/archia-bold-webfont.woff2') format('woff2'),
      url('../fonts/archia-bold-webfont.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-archia;
  src: url('../fonts/archia-semibold-webfont.woff2') format('woff2'),
      url('../fonts/archia-semibold-webfont.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-archia;
  src: url('../fonts/archia-light-webfont.woff2') format('woff2'),
      url('../fonts/archia-light-webfont.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: $font-archia;
  src: url('../fonts/archia-thin-webfont.woff2') format('woff2'),
      url('../fonts/archia-thin-webfont.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}