extends ../base.pug

block variables
  - var template = 'home'

block content 
  .home(data-background="#fff" data-color="#202020")
    .home__mask
      .home__wrapper
        .home__list
          each item in home
            each work in item.data.projects
              a(href=Link(work.project) data-src=work.project.data.image.url data-animations="hover").home__list__link
                .home__list__link__text(data-animations="menutext")=work.project.data.title

    .home__toggle
      a.home__toggle__link(href='/play') Play

    .hover__images

    .home__list__media
      each item in home
        each work in item.data.projects        
          .home__list__media__wrapper
            figure.home__list__media
              img(data-src=work.project.data.image.url, alt="").home__list__media__image

    canvas#artboard