extends ../base.pug

block variables
  - var template = 'play'

block content 
  .play(data-background="#2c222a" data-color="#fff")
    .play__wrapper

      .play__gallery
        each media in play.data.gallery
          figure.play__gallery__media
            img(data-src=media.image.url, alt=media.image.alt).play__gallery__media__image

      .play__icon__animation
        svg(id="demo-svg" width="600" height="600").play__icon
          polygon(stroke="none" fill="black" points="87 472,87 91,267 80,501 78,489 304,500 450,293 457")