extends ../base.pug

block variables
  - var template = 'play'

block content 
  .play
    .play__wrapper

      .play__gallery
        each media in play.data.gallery
          figure.play__gallery__media
            img(data-src=media.image.url, alt=media.image.alt)
