.home {
  // @extend %center;
  @extend %page;

  // opacity: 0;
  color: black;
  overflow: hidden;
  text-align: center;

  &--active {
    @extend %page--active;
  }
}

.home__wrapper {

}

.home__list {
  position: relative;
  margin-left: 4rem;
  margin-top: 50rem;
}

.home__list__link {
  cursor: pointer;
  display: flex;
  pointer-events: auto;

  &:not(:first-child){
    margin-top: 0.4rem;
  }

}

.home__list__link__text {
  @extend %link--hidden;
  @extend %title-22;

  color: black;
}

.home__list__media__wrapper {
  // @extend %cover;
  display: none;
  visibility: hidden;
}

.home__list__link__media {
  // width: 100%;
  // height: 100%;
}

.home__list__media__image {
  // object-fit: cover;
}

.home__toggle {
  @extend %description-16;

  align-items: center;
  background-color: $color-accent-lime;
  top: 99.5vh;
  display: flex;
  justify-content: center;
  padding: 0.5rem 0rem;
  position: fixed;
  width: 100%;

  transition: all 0.4s ease-in-out;
  

  &:hover {
    top: 98vh;
  }
}