.home {
  // @extend %center;
  @extend %page;

  // opacity: 0;
  // color: black;
  overflow: hidden;
  text-align: center;

  &--active {
    @extend %page--active;
  }
}

.home__mask {
  @extend %cover;
  height: 67%;
  overflow: hidden;
  top: 30%;
}

.home__wrapper {
  padding-bottom: 340px;
}

.home__list {
  padding-left: 4rem;
  pointer-events: none;
  position: relative;
  transition: all 0.7s ease-in-out;
  width: fit-content;

  &:hover > .home__list__link:not(:hover) {
    opacity: 0.3;
  }
}

.home__list__link {
  cursor: pointer;
  display: flex;
  opacity: 1;
  pointer-events: auto;
  transition: opacity 0.7s ease-in-out;
  width: fit-content;

  &:not(:first-child){
    margin-top: 0.4rem;
  }

}

.home__list__link__text {
  @extend %link--hidden;
  @extend %title-22;

  color: black;
  line-height: 0.9;
  z-index: 1002;

  &:hover{
    opacity: 1;
  }
}

.home__list__media__wrapper {
  // @extend %cover;
  display: none;
  visibility: hidden;
}

.home__list__link__media {
  // width: 100%;
  // height: 100%;
}

.home__list__media__image {
  // object-fit: cover;
}

.home__toggle {
  @extend %description-16;

  align-items: center;
  background-color: white;
  bottom: -13px;
  display: flex;
  justify-content: center;
  mix-blend-mode: overlay;
  padding: 0.5rem 0rem;
  position: absolute;
  width: 100%;

  transition: all 0.4s ease-in-out;
  
  &:hover {
    background-color: $color-accent-lime;
    bottom: 0;
  }
}

//// hover styles

.hover__images {
  @extend %cover;
  z-index: -2;
}

.hover-reveal {
  bottom:0;
	height: 100%;
	left: 0;
	pointer-events: none;
  position:fixed;
	opacity: 0;
	top: 0;
	width: 100%;
	z-index: -1;
}

.hover-reveal__inner {
	overflow: hidden;
}

.hover-reveal__inner,
.hover-reveal__img {
	width: 100%;
	height: 100vh;
}

.hover-reveal__img {
	background-size: cover;
	background-position: 50% 50%;
}