.work {
  @extend %page;
  
  // background-color: rgb(160, 61, 61);
  z-index: 'content';
  
  &--active {
    @extend %page--active;
  }
}

.work__wrapper {
  @extend %cover;
  // @extend %center;

  // align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  pointer-events: none;
  // padding-left: 4rem;
  // padding-right: 4rem;
}

.work__text__wrapper {
  align-items: baseline;
  bottom: 0;
  display: flex;
  left: 0;
  margin-bottom: 4rem;
  margin-left: 4rem;
  position: absolute;
  vertical-align: middle;
  width: -webkit-fill-available;
  z-index: 3;
}

.work__title {
  text-align: center;
  margin-right: 2rem;
} 

.work__title__text {
  @extend %title-22;  
}

.work__info {
  display: flex;
}

.work__info__description {
  align-content: center;
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: left;
  margin-left: 0.7rem;
  
  &:first-child {
    margin-left: 0;
  }
}

// .work__info__client {

// }

// .work__info__date {

// }

// .work__info__type {

// }

// .work__info__role {

// }

.work__info__line {
  height: 1rem;
  width: 1px;
  background-color: black;
}

.work__info__description__label {
  @extend %description-14;
  line-height: 1.5;
  font-weight: 400;
}

.work__info__description__text {
  @extend %description-14;
  font-weight: 300;
  margin: 0rem 1rem;

  &:last-child{
    margin-right: 0;
    margin-left: 1rem;
  }
}

.work__gallery {
  @extend %center;

  z-index: 1;
}

.work__gallery__wrapper {
  align-items: center;
  display: flex;
  flex-direction: row;
  left: 4rem;
  position: absolute;
}

.work__gallery__media {
  position: relative;
  margin: 0 2rem;
  visibility: hidden;

  &:first-child {
    height: 80rem;
    width: 120rem;
    margin-left: 0rem;
  }

  &:nth-child(2) {
    height: 96rem;
    width: 90rem;
  }

  &:nth-child(3) {
    height: 80rem;
    width: 120rem;
  }

  &:nth-child(4) {
    height: 80rem;
    width: 120rem;
  }

  &:nth-child(5) {
    height: 96rem;
    width: 90rem;
  }

  &:last-child {
    margin-right: 0rem;
  }
}

.work__gallery__media__image {
  @extend %cover;

  object-fit: cover;
}

.work__link {
  position: absolute;
  bottom: 50%;
  cursor: pointer;
  left: 3%;
  pointer-events: auto;
  z-index: 3;
}

.work__link__icon {
  height: 5rem;
  width: 5rem;
}